<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBox</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="chat">
            <div class="chat-header">
                <div class="profile">
                    <div class="left">
                        <img class="arrow" src="https://image.flaticon.com/icons/png/512/60/60577.png">
                        <img class="pp" src="https://img.myloview.ru/posters/chatbot-icon-bot-sign-design-chat-bot-logo-concept-robot-head-in-speech-bubble-online-support-service-bot-modern-flat-illustration-isolated-on-white-400-200908664.jpg">
                        <h2>DanDan</h2>
                        <span>online</span>
                    </div>
                    <div class="right">
                        <img src="https://www.freeiconspng.com/uploads/office-phone-icon--25.png" class="icon">
                        <img src="https://www.iconpacks.net/icons/1/free-video-icon-818-thumb.png" class="icon">
                        <img src="http://cdn.onlinewebfonts.com/svg/img_159305.png" class="icon">
                    </div>
                </div>
            </div>
            <div id="chat-case">
                
            </div>
  
            <form id="user-chat">
                <label for="user">User</label>
                <input type="text" name="user" id="user" value="DauPhong">
                <br>
                <input type="text" name="message" id="message" placeholder="Type something ...">
                <input type="submit" value="Send">
            </form>
            <br>
            <script src="/static/utils.js"></script>
            {% if method == " socket" %}
                <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
            {% endif %}
            <script src="static/{{ method }}.js"></script>
 
        </div>    
    </div>
</body>
</html>